@using Sitecore.Mvc
@using symmons.com.Areas.Symmons.Controllers.Global
@using symmons.com._Classes.Shared.Global

@{
    var bodyClass = "";
    if (SymmonsController.ContextItem.ID.ToString() == Constants.PageIds.Home ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.SuperCategoryLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.CollectionLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.StyleLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.FeatureLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.TemptrolPage)
    {
        bodyClass = "header-static";
    }

    var isProductDetailsPage = SymmonsController.ContextItem.ID.ToString() == Constants.PageIds.ProductWildCardItemId;
    var isProductBrowsePage = SymmonsController.ContextItem.ID.ToString() == Constants.PageIds.ProductBrowse;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial(Constants.ViewPaths.HeaderIncludesPartial)

    @if (isProductDetailsPage)
    {
        <meta name="ps-key" content="2029-58deb8713a1ed57056490519">
        <meta name="ps-country" content="US">
        <meta name="ps-language" content="en">
        <script src="//cdn.pricespider.com/1/lib/ps-widget.js" async></script>
    }

    @if (isProductDetailsPage || isProductBrowsePage)
    {
        <script type="text/javascript">
            var pr_style_sheet="//cdn.powerreviews.com/aux/49448/616983/css/express.css";
        </script>
        <script type="text/javascript" src="//cdn.powerreviews.com/repos/49448/pr/pwr/engine/js/full.js"></script>
    }
</head>

<body class="@bodyClass">
    @Html.Partial(Constants.ViewPaths.GTMScript)
    @Html.Sitecore().Placeholder("scTop")
    <main role="main" class="main-content">
        <div class="outer-wrapper">
            <div class="main-wrapper">
                @Html.Sitecore().Placeholder("scContentTop")
                @Html.Sitecore().Placeholder("scCenter")
            </div>
        </div>
    </main>
    @Html.Sitecore().Placeholder("scBottom")
</body>

</html>
