@using Sitecore.Mvc
@using symmons.com.Areas.Symmons.Controllers.Global
@using symmons.com._Classes.Shared.Global

@{
    var bodyClass = "";
    if (SymmonsController.ContextItem.ID.ToString() == Constants.PageIds.Home ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.SuperCategoryLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.CollectionLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.StyleLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.FeatureLandingPage ||
        SymmonsController.ContextItem.TemplateID.ToString() == Constants.TemplateIds.TemptrolPage)
    {
        bodyClass = "header-static";
    }

    var isProductDetailsPage = SymmonsController.ContextItem.ID.ToString() == Constants.PageIds.ProductWildCardItemId;
    var isProductBrowsePage = SymmonsController.ContextItem.ID.ToString() == Constants.PageIds.ProductBrowse;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial(Constants.ViewPaths.HeaderIncludesPartial)

    @if (isProductDetailsPage)
    {
        <meta name="ps-key" content="2029-58deb8713a1ed57056490519">
        <meta name="ps-country" content="US">
        <meta name="ps-language" content="en">
        <script src="//cdn.pricespider.com/1/lib/ps-widget.js" async></script>
    }

    @if (isProductDetailsPage || isProductBrowsePage)
    {
        <script type="text/javascript">
            var pr_style_sheet="//cdn.powerreviews.com/aux/49448/616983/css/express.css";
        </script>
        <script type="text/javascript" src="//cdn.powerreviews.com/repos/49448/pr/pwr/engine/js/full.js"></script>
    }

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '116431678945551');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=116431678945551&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- OwnerIQ Analytics tag -->
    <!-- www.symmons.com - Analytics Pixel -->
    <script type="text/javascript">
        window._oiqq = window._oiqq || [];
        _oiqq.push(['oiq_addPageLifecycle', 'am95']);
        _oiqq.push(['oiq_doTag']);

        (function() {
            var oiq = document.createElement('script'); oiq.type = 'text/javascript'; oiq.async = true;
            oiq.src = document.location.protocol + '//px.owneriq.net/stas/s/bvxjf6.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(oiq, s);
        })();
    </script>
    <!-- End OwnerIQ tag -->

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3778684.js"></script>
    <!-- End of HubSpot Embed Code -->
</head>

<body class="@bodyClass">
    @Html.Partial(Constants.ViewPaths.GTMScript)
    @Html.Sitecore().Placeholder("scTop")
    <main role="main" class="main-content">
        <div class="outer-wrapper">
            <div class="main-wrapper">
                @Html.Sitecore().Placeholder("scContentTop")
                @Html.Sitecore().Placeholder("scCenter")
            </div>
        </div>
    </main>
    @Html.Sitecore().Placeholder("scBottom")
</body>

</html>
