@using Sitecore.Globalization
@using symmons.com._Classes.Symmons.Global
@using Glass.Mapper.Sc
@using symmons.com.Areas.Symmons.Models.Global
@using symmons.com.Areas.Symmons.Models.Pages.Products
@using Verndale.SharedSource.Helpers
@using Constants = symmons.com._Classes.Shared.Global.Constants
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SymmonsSiteSettings>

@if (Model.PrimaryNavigationList.Any())
{
    <nav id="primaryNavigation" role="navigation" class="primary-navigation">
        <div class="container">

            <ul class="primary-navigation__listing">
                @foreach (var primaryNavigationItem in Model.PrimaryNavigationList.Where(x => x.ShowOnNavigation))
                {
                    if (Constants.PageIds.CustomerSupport.ToLower() != primaryNavigationItem.Id.ToString("B"))
                    {
                        <li class="primary-navigation__item">
                            <a href="#" class="primary-navigation__link">@Editable(primaryNavigationItem, x => x.NavigationTitle)</a>
                            @{ var childItems = SitecoreHelper.ItemMethods.GetItemFromGUID(primaryNavigationItem.Id.ToString()).GetChildren().Select(x => (x.GlassCast<SuperCategory>())).Where(x => x.ShowOnNavigation); }
                            
                            @if (Guid.Parse(Constants.PageIds.PrimaryNavBath) == primaryNavigationItem.Id)
                            {
                                <div class="primary-navigation__subitem bath-subitem">
                                    @Html.Partial(Constants.ViewPaths.PrimaryNavBath, Model)
                                </div>
                            }
                            else if (Guid.Parse(Constants.PageIds.PrimaryNavKitchen) == primaryNavigationItem.Id)
                            {
                                <div class="primary-navigation__subitem kitchen-subitem">
                                    @Html.Partial(Constants.ViewPaths.PrimaryNavKitchen, Model)
                                </div>
                            }
                            else if (Guid.Parse(Constants.PageIds.PrimaryNavCommercial) == primaryNavigationItem.Id)
                            {
                                <div class="primary-navigation__subitem commercial-subitem">
                                    @Html.Partial(Constants.ViewPaths.PrimaryNavCommercial, childItems)
                                </div>
                            }
                            else if (Guid.Parse(Constants.PageIds.PrimaryDesignStudio) == primaryNavigationItem.Id)
                            {
                                <div class="primary-navigation__subitem design-studio-subitem">
                                    @Html.Partial(Constants.ViewPaths.PrimaryDesignStudio, SitecoreHelper.ItemMethods.GetItemFromGUID(primaryNavigationItem.Id.ToString()).GlassCast<SuperCategory>())
                                </div>
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
}