@using Sitecore.Globalization
@using symmons.com.Areas.Symmons.Models.Global
@using symmons.com._Classes.Symmons.Global
@using Constants = symmons.com._Classes.Shared.Global.Constants
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SymmonsSiteSettings>

<nav class="header__util-links desktop" role="Navigation">
    <ul>
        @if ((Model.UtilityNavigationList != null) && (Model.UtilityNavigationList.Any()))
        {
            foreach (var utilityLink in Model.UtilityNavigationList.Take(3))
            {
                if (SymmonsHelper.IsValidLink(utilityLink.NavigationLinkUrl) && !String.IsNullOrEmpty(utilityLink.NavigationLinkUrl.Text))
                {
                    if (Guid.Parse(Constants.PageIds.CustomerService) != utilityLink.NavigationLinkUrl.TargetId)
                    {
                        <li>
                            @RenderLink(utilityLink, x => x.NavigationLinkUrl, new { @class = "header__util-item" }, true)
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="javascript:;" class="header__util-item show-subitem">@utilityLink.NavigationLinkUrl.Text</a>
                            <div class="header__util-item__subitem support-subitem">
                                <section class="support-navigation__list">
                                    @Html.Partial(Constants.ViewPaths.ContactInfoCallout, Model)

                                    @foreach (var item in Model.CustomerSupportList)
                                    {
                                        if (SymmonsHelper.IsValidLink(item.NavigationLinkUrl))
                                        {
                                            @RenderLink(item, x => x.NavigationLinkUrl, new { @class = "support-navigation__link" }, true)
                                        }
                                    }
                                </section>

                                @if ((Model.CommercialCustomersList != null) && (Model.CommercialCustomersList.Any()))
                                {
                                    <section class="support-navigation__commericial">
                                        <h2 class="support-navigation__title">@Translate.Text(Constants.Dictionary.CommercialCustomers)</h2>
                                        @foreach (var item in Model.CommercialCustomersList)
                                        {
                                            if (SymmonsHelper.IsValidLink(item.NavigationLinkUrl))
                                            {
                                                @RenderLink(item, x => x.NavigationLinkUrl, new { @class = "support-navigation__link" }, true)
                                            }
                                        }
                                    </section>
                                }
                            </div>
                        </li>
                    }
                }
            }
        }

        <li>
            <a class="header__util-item search-item"><span>@Translate.Text(Constants.Dictionary.Search)</span> <i class="img-icon img-search"></i></a>
        </li>
    </ul>
</nav>
@using (Html.BeginForm("GetSearchResult", "SymmonsSearch", FormMethod.Post, new { name = "frmGlobalSearch", id = "frmGlobalSearch" }))
{   

    <div class="header__searchbox">
        <label for="txtGlobalSearch" class="visually-hidden">@Translate.Text(Constants.Dictionary.Search)</label>
        <i class="img-global-search"></i>
        <input name="globalSearch" id="txtGlobalSearch" class="header__searchfield" type="search" autocomplete="off" >
    </div>
}


@Html.Partial(Constants.ViewPaths.PrimaryNavMobile, Model)

<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
       jQuery(document).on("keypress", "#txtGlobalSearch", function (event) {

           jQuery("#txtGlobalSearch").parent().removeClass("error");
            if (event.keyCode == 13) {
                if (jQuery.trim(jQuery("#txtGlobalSearch").val()) != "") {
                    jQuery("#frmGlobalSearch").submit();
                    return true;
                } else {
                    jQuery("#txtGlobalSearch").parent().addClass("error");
                    return false;
                }
            }
        });

        jQuery(".header__searchbox .img-global-search").click(function () {
            jQuery("#txtGlobalSearch").parent().removeClass("error");
            if (jQuery.trim(jQuery("#txtGlobalSearch").val()) != "") {
                jQuery("#frmGlobalSearch").submit();
                return true;
            } else {
                jQuery("#txtGlobalSearch").parent().addClass("error");
                return false;
            }

        });
    });

</script>