@using symmons.com.Areas.Symmons.Models.Pages.Temptrol;
@using Verndale.SharedSource.Helpers;
@using symmons.com._Classes.Shared.Global;
@using symmons.com._Classes.Symmons.Helpers;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Temptrol>

@{ 
    var temptrolCommercial = SitecoreHelper.ItemMethods.GetItemFromGUID(Constants.PageIds.PrimaryTemptrolCommercial);
    var temptrolCommercialImageUrl = DataHelper.GetImageURL(temptrolCommercial.Fields["Navigation Image"]);
    var temptrolCommercialTitle = DataHelper.GetTextualFieldValue(temptrolCommercial.Fields["Navigation Title"]);
    var temptrolCommercialText = DataHelper.GetTextualFieldValue(temptrolCommercial.Fields["Navigation Text"]);
    var temptrolCommercialPageUrl = DataHelper.GetItemUrl(temptrolCommercial);

    var originsCollection = SitecoreHelper.ItemMethods.GetItemFromGUID(Constants.PageIds.PrimaryOriginsCollection);
    var originsCollectionImageUrl = DataHelper.GetImageURL(originsCollection.Fields["Navigation Image"]);
    var originsCollectionTitle = DataHelper.GetTextualFieldValue(originsCollection.Fields["Navigation Title"]);
    var originsCollectionText = DataHelper.GetTextualFieldValue(originsCollection.Fields["Navigation Text"]);
    var originsCollectionPageUrl = DataHelper.GetItemUrl(originsCollection);
}

@if (Model.ShowOnNavigation)
{
    <section class="primary-navigation__temptrol">
        <ul class="primary-navigation__temptrol--listing">
            <li class="primary-navigation__temptrol--item">
                <a href="@Model.Url" class="primary-navigation__temptrol--link">
                    <div class="primary-navigation__temptrol--image">
                        @RenderImage(Model, x => x.NavigationImage, null, true)
                    </div>
                    <h3 class="primary-navigation__temptrol--headline">
                        @Html.Raw(Model.NavigationSubtitle)
                    </h3>
                    <p class="primary-navigation__temptrol--teaser">
                        @Model.NavigationText
                    </p>
                </a>
            </li>
            <li class="primary-navigation__temptrol--item">
                <a href="@originsCollectionPageUrl" class="primary-navigation__temptrol--link">
                    <div class="primary-navigation__temptrol--image">
                        <img src="@originsCollectionImageUrl" alt="" />                        
                    </div>
                    <h3 class="primary-navigation__temptrol--headline">
                        @Html.Raw(originsCollectionTitle)
                    </h3>
                    <p class="primary-navigation__temptrol--teaser">
                        @originsCollectionText
                    </p>
                </a>
            </li>
            <li class="primary-navigation__temptrol--item">
                <a href="@temptrolCommercialPageUrl" class="primary-navigation__temptrol--link">
                    <div class="primary-navigation__temptrol--image">
                        <img src="@temptrolCommercialImageUrl" alt="" />
                    </div>
                    <h3 class="primary-navigation__temptrol--headline">
                        @Html.Raw(temptrolCommercialTitle)
                    </h3>
                    <p class="primary-navigation__temptrol--teaser">
                        @temptrolCommercialText
                    </p>
                </a>
            </li>
        </ul>
    </section>
}
